[2016-02-07 13:10] MichaelKohler opened #1 "[META] Template for new issues"
## Goal:
[One line goal description]

## Success:
[What would success look like]

## Related Issues & Links:
[Reference meta issues and past issues] #

## Roles:
Owner:
Involved:

## Required:
- [ ] Put mittens on all of the kittens (owner, [small, medium, large], Due: 30.06.2016)
- [ ] Put mittens on all of the kittens (owner, [small, medium, large], Due: 30.06.2016)
- [ ] Put mittens on all of t

[2016-02-07 13:18] MichaelKohler opened #2 "[META] Template for new goals"
## Objective:
## Key Results:
- [ ]  ....

[2016-02-07 13:22] MichaelKohler opened #3 "The community is vibrant and active due to structured contribution areas"
## Objective:
The Mozilla Switzerland community is active and vibrate due to structured contribution areas. Community members feel empowered and we have a healthy decision making process.

## Key Results:
- [x] Defined contribution areas and defined contact persons for them
- [ ] Have onboarded at least 3 new contributors who are committed to drive MozillaCH further
- [ ] Created a T-Shirt Design

[2016-02-07 13:26] MichaelKohler opened #4 "MozillaCH is concidered a recognitzed partner for privacy within the affin-circle in Switzerland"
## Objective:
The Mozilla Switzerland community is a valuable partner for Privacy in Switzerland. We help fight existing law changes and for future changes we're on the front to fight them.

## Key Results:
- [ ] Be a fundamental force in the NDG vote and educate at least 200 persons about privacy
- [ ] Now of at least 101 people that will vote against the proposed law proposition
- [ ] Have at le

[2016-02-07 13:29] MichaelKohler opened #5 "There is a vibrant community in the "Romandie" which is part of the overall community"
## Objective:
The Mozilla Switzerland community growths further and involves the French-speaking part of Switzerland. This potential is used accordingly to position MozillaCH as "go-to" partner for Open Web questions.

## Key Results:
- [ ] Start at least 3 regular talks and hackathons with at least 5 people per meetup
- [x] Have at least 3 Mozillians helping out at the beginining to kick-start it

[2016-02-07 13:33] MichaelKohler opened #6 "The MozillaCH website is the place to link to for community topics"
## Objective:
mozilla.ch is up-to-date regarding goals and is the place to go for any information about the local community.

## Key Results:
- [x] Move Website to Community IT infrastructure
- [x] Cleanup outstanding issues on GitHub as needed
- [x] A maximum of 2 long-term issues are in the Repository
- [ ] Organize Website Hackathon to include new goals and direction of MozillaCH

[2016-02-07 13:36] MichaelKohler opened #7 "With talks and events we increase our reach and provide a valuable information source regarding the Open Web"
## Objective:
With talks and events we increase our reach and provide a valuable information source regarding the Open Web.

## Key Results:
- [x] Have at least 5 physical meetups in the first half of the year in Zurich
- [x] Organize a Hackathon in Lausanne (topic TBD) in the first quarter
- [x] Organize at least 3 meetups In Lausanne apart from the Hackathon to introduce the French-speaking part

[2016-02-07 13:37] MichaelKohler opened #8 "Social Media is a crucial part of our activities providing valuable information about Mozilla and the Open Web"
## Objective:
Social Media is a crucial part of our activities providing valuable information about Mozilla and the Open Web. Further we inform supporters about what we're up to regularly.

## Key Results:
- [x] Tweet at least 10 tweets per month to keep our followers up-to-date regarding all Mozilla and Community topics
- [x] Have at least 2 persons helping out with the Twitter account
- [ ] Have

[2016-02-07 14:15] MichaelKohler opened #9 "Mozilla Privacy Team Update and further involvement"
## Goal:
Provide a base of information for the Mozilla Privacy team (Raegan MacDonald). This is the base for any future blog posts or discussions about involvement from their side.

## Success:
The privacy team has all the necessary information regarding NDG and the Swiss voting process.

## Related Issues & Links:

## Roles:
Owner: @MichaelKohler
Involved: @J0WI

## Required:
- [x] Document votin

[2016-02-07 14:25] MichaelKohler opened #10 "[meta] Document Contribution Areas"
## Goal:
Document Contribution Areas within the Mozilla Switzerland with a responsible person for each of them. This should be on the Mozilla Wiki.

## Success:
Have a page on the wiki which explains all contribution areas, communication channels within the community, contact persons and example contributions.

## Related Issues & Links:

## Roles:
Owner: @MichaelKohler
Involved: @mozillach/commun

[2016-02-07 14:29] MichaelKohler opened #11 "[meta] Create Community Development Focus Group"
## Goal:
Create a focus group which is the "last instance" to decide if a given change is implemented within the community or not. This group consists of at least 3 people and is open to everyone who wants to contribute in that direction.

## Success:
New ideas are discussed in the whole group, with the focus group having the final say if there is no agreement before. The focus group is open to ev

[2016-02-07 14:32] MichaelKohler opened #12 "[meta] Organize a hackathon in Romandie in March"
## Goal:
Organize a hackathon in Lausanne (?) in March to kickstart our efforts to expand to the Romandie.

## Success:
We organized a hackathon with at least 10 people and have at least 5 people interested in joining further meetups and events in the region. At least 3 persons are willing to coordinate the organization of a future meetup.

## Related Issues & Links:

## Roles:
Owner: @mozillach/c

[2016-02-07 14:33] MichaelKohler commented on #12
What do you all think about an IoT kickstart hackathon to work on ideas for maybe future Mozilla projects as announced last week? (https://discourse.mozilla-community.org/t/firefox-os-connected-devices-announcement/6864/92)

[2016-02-07 14:57] MichaelKohler commented on #9
I have started an Etherpad here to gather information: https://public.etherpad-mozilla.org/p/mozillach-ndg-info (feel free to add even after I have sent the first version of it to Raegan)

[2016-02-07 15:10] J0WI commented on #9
See also https://public.etherpad-mozilla.org/p/mozillach-bupf-ndg-initative

[2016-02-07 15:26] MichaelKohler commented on #9
I also added the official proposed law texts.. do we have an overview of critially bad paragraphs on the text? @J0WI

[2016-02-07 15:40] MichaelKohler commented on #9
I sent a mail to Raegan (cc Mailinglist).

[2016-02-07 15:50] J0WI commented on #9
Digiges collected a bunch of details. Here are some articles with examples of bad paragraphs:
https://www.digitale-gesellschaft.ch/2013/06/09/prism-heisst-in-der-schweiz-kabelaufklarung/
https://www.digitale-gesellschaft.ch/2014/10/26/neues-nachrichtendienstgesetz-ueberwachung-wie-am-flughafen/
https://www.digitale-gesellschaft.ch/2014/03/08/botschaft-zum-neuen-nachrichtendienstgesetz/
https://www

[2016-02-08 14:27] freaktechnik commented on #12
We should check with @mozfr if they have or know of some promotion channels that we should use.

[2016-02-09 20:00] J0WI opened #13 "Contact Wikimedia CH"
We may contact Wikimedia CH for future cooperation. They would be interested as well.
Ping me for contact details.

[2016-02-10 22:36] DocZweirad opened #14 "we need a logo for our planned community t-shirt"
During one of our meetings (Liip Zurich, Nov 2015) we've been discussing the idea of a mozilla.ch community t-shirt. We more or less agreed on a (cute) dino to grace it. Inspired by the ones in the header of http://dromaeo.com/, I started a draft which may serve as the foundation of a possible final design: http://marco.dilbert.ch/moz_dino.svg
I'm open to ideas, suggestions, discussions, alternati

[2016-02-11 13:36] ghost commented on #14
Updated [the draft](http://marco.dilbert.ch/moz_dino.svg) with a swiss cross and the text **Mozilla Switzerland**.
We may want to use another font family (but probably still "cursive").

[2016-02-11 14:22] J0WI commented on #14
I liked it more without the cross. The white cross and the white eye are to strong. The cross makes he looking a bit pregnant (or just fat). Did you adjust the sizes for the cross?
His empty look is more creepy than cute :fearful: May be it helps if the eye is not a geometric circle.

I hate my self saying this, but Comic Sans fits very well here. :D
Can we use it without any legal issues?

[2016-02-11 14:51] freaktechnik commented on #14
No.

[2016-02-11 15:01] colinfrei commented on #14
idea... make the eye a small cross!

[2016-02-11 15:05] MichaelKohler commented on #14
I like the general concept, but I agree that there are minor things to improve. But we're getting there! Great work Marco!

First, http://comicsanscriminal.com/
Second, Colin's idea sounds good, though we need to make sure that the dino doesn't look dead..

[2016-02-11 16:36] freaktechnik commented on #14
I'm not sure how well fuzzy borders (of the ground) are printable. It's for sure a lot harder to print nicely.

[2016-02-11 19:07] MichaelKohler opened #15 "Analyze anonymized Community Survey results"
## Goal:
Last year the Participation team did a survey on communities. We had some responses from Switzerland that need to be analyzed with the Community Dashboard sheet we already have.

## Success:
We have a clear understanding of where we're at and can use the data for future survey comparisons.

## Roles:
Owner: @MichaelKohler
Involved:

## Required:
- [ ] Get anonymized data (@MichaelKohler,

[2016-02-11 19:15] MichaelKohler opened #16 "Fix mozilla.ch bugs and then move it to Community IT"
## Goal:
Move the mozilla.ch website to Community IT servers.

## Success:
The website is up and running on Mozilla infrastructure.

## Roles:
Owner: @MichaelKohler
Involved: @freaktechnik, @J0WI, @colinfrei

## Required:
- [x] Fix the bugs that need to be fixed (https://github.com/mozillach/mozilla.ch/issues) (all, large, Due: 29.02.2016)
- [x] Let Community IT redeploy the container (@MichaelKoh

[2016-02-11 19:16] MichaelKohler commented on #16
Most crucial bug: https://github.com/mozillach/mozilla.ch-docker/issues/6
Current status: http://mozillach.paas.mozilla.community

[2016-02-11 22:08] ghost commented on #14
OK folks, thanks for all the feedback. I've gotten round to [another overhaul](http://marco.dilbert.ch/moz_dino.svg). Old & new version side by side for comparison.
- @J0WI: (no, just cross & text were new) I added a face and separated the cross now.
- @freaktechnik: Added a free font and the fuzziness is all gone (is printing really that delicate?).
- @colinfrei: I failed, but I'll gladly accept

[2016-02-11 22:46] MichaelKohler commented on #14
I really like the new face, makes it a lot friendlier :)

Crazy idea, what about having a family of dinos to choose from? Like that we would all have kind of the same t-shirt but different colors/maybe forms... just an idea :)

Regarding color, I would stick with a red color, maybe something less bright though. What about something like that? https://michaelkohler.info/mozilla/tshirt_logo/logo.svg

[2016-02-11 22:48] MichaelKohler commented on #14
I really like the new face, makes it a lot friendlier :)

[2016-02-11 22:50] MichaelKohler commented on #14
@DocZweirad  ah, forgot to write that, we're now missing a "d" at the end. Couldn't fix it though :(

Update: looks like content blocking is strong on this one and we can't load the font..

Update 2: the SVGs on my server are now loading the CSS with https, like that it works :) (Sorry for all the bugmail, I stop now)

[2016-02-11 23:04] MichaelKohler commented on #14
looks like content blocking is strong on this one and we can't load the font..

[2016-02-12 10:18] ghost commented on #14
@MichaelKohler: The truncated text should be easy to fix by adding a textLength="97" attribute to the <text> element and changing the actual text to "Mozilla Switzerland" (without any extra spaces).

Individual t-shirts are likely to increase the cost. On the other hand, choosing that path would open the way for really individual t-shirts (as in "bring your own design"). I like the new red. I also

[2016-02-12 12:15] J0WI commented on #14
We should get rid of spaces in favor of [bug 371787](https://bugzilla.mozilla.org/show_bug.cgi?id=371787).

The new cross and the color are a bit to Swiss Army like. We shouldn't loose the context to Mozilla. At least one characteristic for brand recognition should be kept.

The face is much better now!

[2016-02-12 12:28] MichaelKohler commented on #14
Can we have the font as it is in the new one, but get rid of the circle around the i point? Apart from that I really like the new fontstyle.

Interestingly enough a coworker identified this as Swiss Army like as well. Maybe this is not a good idea after all, even though I really liked it. Regarding brand recognition, this is a good point as well.. Mh, any ideas here?

I changed the color of the di

[2016-02-12 12:29] MichaelKohler commented on #14
This is not fixed yet, but a good improvement for the future.

[2016-02-12 12:47] colinfrei commented on #14
I like the last suggestion. The shape around the cross is just used in traditional contexts more often: army, post office, ...

Three small things:
- do we need the special i-dots or could that just be a filled circle?
- can we remove the thin black border around the eye?
- maybe make the black of the eye the same as the dino border

All three would simplify the logo a bit, which might be helpful

[2016-02-12 12:48] colinfrei commented on #14
ah one more idea to play with/simplify: change the text color to the same color as the swiss cross

[2016-02-12 12:55] freaktechnik commented on #14
Brand recognition with Mozilla is pretty hard, as there still only exists a wordmark and not much more, at least to my knowledge. See https://www.mozilla.org/en-US/styleguide/identity/mozilla/branding/

[2016-02-12 13:04] ghost commented on #14
The special i-dots may be an ugly Mac-specific rendering bug. I can reproduce it on my MacBook Pro, but neither in a Windows VM on the same machine nor on a BSD box nor on my Flame. If somebody can confirm this, could you please file a bug upstream (maybe with a simplified testcase)?

[2016-02-12 13:26] MichaelKohler commented on #14
I could reproduce this on Mac OS X only as well. Though it's cross browser. Where do we report this then? _g_

Voila, https://michaelkohler.info/mozilla/tshirt_logo/new_dino2.svg

[2016-02-12 13:26] MichaelKohler commented on #14
There are official colors though: https://www.mozilla.org/en-US/styleguide/identity/mozilla/color/

[2016-02-12 13:28] colinfrei commented on #14
I like it!

Now only the eye is white, try making that brown as well?

[2016-02-12 13:33] ghost commented on #14
I'd go with white for the eye and the cross (and the text too if we choose to print it on dark t-shirts).

[2016-02-12 13:33] MichaelKohler commented on #14
Could somebody test in Chrome/Safari? The font doesn't align..

![screen shot 2016-02-12 at 14 32 53](https://cloud.githubusercontent.com/assets/330324/13008265/950a774a-d195-11e5-86d1-2a5efca957eb.png)

[2016-02-12 13:34] DocZweirad commented on #14
Hm...maybe they don't support the textLength attribute either.

[2016-02-12 13:41] ghost commented on #14
It's probably the textLength/textPath combo they don't support. Confirmed for Safari/Chrome on Mac.

[2016-02-12 21:23] ghost commented on #14
In order to keep the ideas flowing, how about [a swiss map with a cross](http://marco.dilbert.ch/new_dino.svg)? (The cross hasn't been misplaced btw, it currently marks the area with the highest concentration of Mozillians... ) And since it makes the dino look like a red cross supporter, should he also wear a collar with a Schnapps barrel...? :stuck_out_tongue_winking_eye:

[2016-02-13 03:22] MichaelKohler commented on #14
This might be less Army-like. I like it!

[2016-02-13 05:56] colinfrei commented on #14
I like the map, not convinced about the cross. We could leave away the cross?
In general the map also adds a bunch of details. We could also just go for an empty dino and not have a cross anywhere?
Or have the cross in the a or the o space of the mozilla text, or as the i point.

[2016-02-14 00:22] ghost commented on #14
Everybody's favorite Brontosaurus baby [has been seen](http://marco.dilbert.ch/map_dino.svg) in Switzerland, watching Mountain View from afar. Most text artifacts are fixed now (except for the Apple™ iDots, which might be a feature instead of a bug). We may have to organize a workshop or a conference call in order to agree on the final t-shirt design. Or do you think we'll reach a consensus here?

[2016-02-21 20:20] MichaelKohler opened #17 "Focus Group: Start discussion and start CTA"
## Goal:
Publish the "Call to Action" to create the initial focus group.

## Success:
3 persons are committed to join the group.

## Related Issues & Links:
[meta] #11

## Roles:
Owner: @MichaelKohler
Involved: @mozillach/community-developers

[2016-02-21 20:22] MichaelKohler opened #18 "Focus Group: document members on the wiki"
## Goal:
The focus group is formed and documented on the wiki

## Success:
The focus group is in place and can decide about community related discussions in case there is no agreement.

## Related Issues & Links:
[meta] #11
[requires] #17

## Roles:
Owner: @MichaelKohler
Involved: Focus group

[2016-02-21 20:24] MichaelKohler opened #19 "Focus group: define responsibilities"
## Goal:
Define the responsibilities of the working group. What does this mean regarding time commitment? What is the scope? How does the regulatory body look like?

## Success:
The responsibilities are clearly defined and documented.

## Related Issues & Links:
[meta] #11
[requires] #17

## Roles:
Owner: @MichaelKohler
Involved: everybody

[2016-02-21 20:29] MichaelKohler opened #20 "Romandie: Set a date and location for an IoT hackathon"
## Goal:
Decide on a location and date for the IoT Romandie hackathon (end of March or early April)

## Success:
We have a defined date and location and can start promoting the hackathon.

## Related Issues & Links:
[meta] #12

## Roles:
Owner: @MichaelKohler
Involved: @colinfrei @gion-andri @freaktechnik @DocZweirad @grrd01 @J0WI

## Required:
- [ ] Define a date (due: 29.02.2016)
- [ ] secure th

[2016-02-21 20:30] MichaelKohler commented on #20
My recommendation would be the 2nd of April, are you available on that date?

@colinfrei what's the process regarding having the space from Liip in Lausanne? Is there a calendar as well?

[2016-02-21 20:32] MichaelKohler opened #21 "Romandie hackathon: Promote the hackathon"
## Goal:
We promote the hackathon (after we set the date and location)

## Success:
At least 7 people show up to the hackathon.

## Related Issues & Links:
[meta] #12
[requires] #20

## Roles:
Owner: @MichaelKohler
Involved: @gion-andri @freaktechnik @DocZweirad @colinfrei @grrd01

[2016-02-21 20:34] MichaelKohler opened #22 "Contribution areas: create initial list of areas on the wiki"
## Goal:
Create an initial list of contribution areas in the Swiss community on the wiki.

## Success:
Have an initial draft of contribution areas on the wiki so others can start to fill it.

## Related Issues & Links:
[meta] #10

## Roles:
Owner: @MichaelKohler
Involved:

[2016-02-21 20:47] MichaelKohler commented on #20
I wonder if @gperriard is interested in this as well :)

[2016-02-21 20:50] MichaelKohler opened #23 "[meta] Organize a Firefox hackathon in Zurich"
## Goal:
Have a second hackathon in Zurich, this time with the topic "Firefox".

## Success:
At least 8 people join us for a Firefox hackathon and start to work on at least 5 bugs.

[2016-02-21 20:52] MichaelKohler opened #24 "Firefox hackathon: Set a date"
## Goal:
Agree on a date for a Firefox hackathon in Zurich.

## Success:
Have set a date for the hackathon within the next 2 weeks.

## Related Issues & Links:
[meta] #23

## Roles:
Owner: @MichaelKohler
Involved: @colinfrei @freaktechnik @gion-andri @DocZweirad @grrd01 @J0WI

[2016-02-21 20:53] MichaelKohler commented on #24
The italians would support us here, for them it would work on the 9th of April. What do you all think?

[2016-02-21 20:56] MichaelKohler opened #25 "Organize the March monthly Meetup in Zurich"
## Goal:
Have a topic and date for the monthly meetup in Zurich.

## Roles:
Owner: @MichaelKohler
Involved: @gion-andri @freaktechnik @colinfrei @DocZweirad @grrd01 @J0WI

[2016-02-21 20:57] MichaelKohler commented on #25
maybe @J0WI would like to talk about privacy and encryption since we just have started the campaign around that? (https://advocacy.mozilla.org/encrypt/)

[2016-02-21 21:57] freaktechnik commented on #25
I would also like to point out that at the community meeting several people raised interest in a talk about Let's Encrypt, which I would assume also involves some basic how-to-encrypt stuff.

The full list we created was:
- Let's Encrypt
- Web Standards
- Mozilla Clubs (Romandie)
- Open Badges if we find out how to actually issue badges
- New technologies in Dev Edition
- Use WebRTC as alternative

[2016-02-21 21:59] MichaelKohler commented on #25
Ah right, let's include let's encrypt as well there.

For Web Standards I would go for April, since we need to figure out if Anne has time to do a talk some time.

[2016-02-21 22:19] J0WI commented on #24
I planned anyway to do a talk about Security/Privacy in Firefox/Tor in March. I could do something similar in Zurich.

Topics I thought about are:
- Polaris (Tracking Protection, Mozilla and Torproject relations)
 - Tor itself
- User side
 - Add-Ons, Built-in features
- Admin side
 - CSP
 - TLS

[2016-02-21 22:22] freaktechnik commented on #25
I assume the comment from @J0WI in #24 was meant for here:

[2016-02-21 22:25] J0WI commented on #25
Oops^^

[2016-02-22 06:13] colinfrei commented on #24
temp. booked the Liip arena on the 9th.

[2016-02-22 06:15] colinfrei commented on #20
As far as I'm aware there's no calendar, but I can check if April 2nd would work.

I'd need to be back home in the early evening on that day, but I assume that's not an issue.

[2016-02-22 09:07] MichaelKohler commented on #25
@J0WI would the 8th or 22nd of March work for you?

Also, where else would you give this talk? Would you need some stickers for that?

[2016-02-23 12:59] gperriard commented on #20
Hoi!
I'm definitely interested to help you.
@MichaelKohler are you available for a Firefox Hello or a skype tonight to discuss about it?

[2016-02-23 15:03] MichaelKohler commented on #20
@gperriard not sure if we're in that state of planning yet. Let's fix a date together first and then we can work on content. Does that sound good to you?

[2016-02-23 16:53] gperriard commented on #20
@MichaelKohler I just wanted to know more about the event itself so I can help you to find a location and people.
- What's the main goal of this hackaton? (are we gonna play around a specific tech?)
- How many people did you plan to have?
- Is it gonna be one day or more?

[2016-02-23 23:43] J0WI commented on #25
I think the 8th is to early, let me check for the 22nd.

Talk is planned for a Cryptoparty in BS. Stickers are always great, but I think I have some.

[2016-02-24 18:41] MichaelKohler commented on #20
Sure, though this is not finalized yet, just an idea of mine. Please give input everybody :)

The main goal is to keep projects on IoT going. Let's imagine what we could do with the power of the Web in an IoT setting. This is basically the framing, I don't have a specific idea on that. I guess we could also let people hack on Foxbox (https://github.com/fxbox/foxbox) if they don't have an idea read

[2016-02-25 17:53] MichaelKohler commented on #9
I'm in touch with Raegan, she still has a few questions regarding the voting process. I will update this once these questions have been answered and we know the next steps from the Privacy team's side.

[2016-02-25 17:58] MichaelKohler commented on #14
I would vote for this one: https://michaelkohler.info/mozilla/tshirt_logo/new_dino2.svg

Do we want to have a list of good designs and then vote on them?

I tried with the eye in the same color as the text, but then the dino looks like he has a flue.

[2016-02-25 18:37] Mte90 commented on #24
We are available for our participations but we have to define another date.
As example I am busy with a WordCamp in Turin in that day.
I mention the other italian mozillians interested: @nicokant94 @aroblu94 @ltedone @predorock

[2016-02-25 18:38] MichaelKohler commented on #24
Sorry for the misunderstanding, I thought we decided on the 9th. How about the 30th?

[2016-02-25 18:46] Mte90 commented on #24
For that day I am available but I prefer to wait the other italian volunteers.

[2016-02-25 21:23] MichaelKohler commented on #25
@J0WI could you also write a title and a small description so I could put that up on meetup.com once we have a date? :)

[2016-02-25 21:28] MichaelKohler commented on #15
We are currently blocked here since we haven't received the data yet. There is a template for the dashboard though: https://docs.google.com/spreadsheets/d/1ox-c0csgoBYC9T5XW3w90HT2QtVKxyne1Ao905u63kw/edit#gid=726996331

[2016-02-25 21:34] MichaelKohler opened #26 "Organize the April monthly meetup in Luzern"
## Goal:
Have a date and speaker for the monthly meetup in Zurich.

## Success:
We have planned everything for the meetup.

## Roles:
Owner: @MichaelKohler
Involved: everyone

[2016-02-25 21:37] MichaelKohler opened #27 "Organize a followup meetup in Lausanne after the hackathon"
## Goal:
Organize a followup meetup in Lausanne to have a ground base for future events.

## Success:
We have at least 7 people at the meetup and engaged in discussions after the talk.

## Roles:
Owner: @MichaelKohler
Involved: @gperriard, @juliandescottes

## Required:
- [ ] Set the date (needs to be after the hackathon) (all, small, Due: 23.05.2016)
- [ ] Secure the location (@gperriard, medium,

[2016-02-25 21:38] MichaelKohler commented on #26
@annevk would you like to have a talk sometime in April during the week in Zurich? We would love to hear about Open Standards :)

[2016-02-26 08:28] annevk commented on #26
Would love to, but getting to Zurich takes two hours and getting back takes another two (and has to be done way before midnight due to public transport schedules). Luzern would probably work, but then everyone else probably has to travel too much.

[2016-02-26 18:07] J0WI commented on #25
22nd seems okay.
I'll try to work on it this weekend.

[2016-02-26 23:14] MichaelKohler commented on #16
https://mozillach.paas.mozilla.community is now running correctly. Thanks to everyone who helped out here!

Next steps:
- Get a SSL cert for mozilla.ch (letsencrypt is not an option, since it blocks some domains, mozilla.tld are in the list)
- Point the A record to the PaaS

[2016-02-26 23:21] MichaelKohler commented on #16
For reference, this is the SSL request bug: https://bugzilla.mozilla.org/show_bug.cgi?id=1251768

[2016-02-27 00:52] J0WI commented on #16
All other CAs require a specific mail address for the validation process. It's quite possible (I even hope so), that other CAs also require a manual audit for Mozilla related domains.
So sadly we can't do more here.

[2016-02-27 00:58] MichaelKohler commented on #16
We can't, but the Mozilla WebOps team can, so we'll eventually get one :)

[2016-02-27 11:03] Mte90 commented on #24
I chat with the others for us the 30th is perfect. The problem is that respect to fosdem not all of the Italian mozillians are available.
Actually I am the only one available and I am waiting the confirm of 2 person.
If you confirm the date I book the train/bus the next week and search for bnb/hotels.

[2016-02-28 15:32] MichaelKohler commented on #17
Started documentation on https://wiki.mozilla.org/Switzerland and sent out mail to mailing list to have a CTA to help out with this group.

[2016-02-28 15:32] #17 closed

[2016-02-28 15:33] MichaelKohler commented on #19
Focus group responsibilities are documented on https://wiki.mozilla.org/Switzerland . I don't think we need more than that.

[2016-02-28 15:33] #19 closed

[2016-02-28 16:19] MichaelKohler commented on #22
initial list added to https://wiki.mozilla.org/Switzerland#Contribution_Areas and CTA to complete and edit it sent to the mailing list

[2016-02-28 16:19] #22 closed

[2016-02-29 16:54] loleg commented on #20
Interesting! Happy to help with platform (e.g. https://github.com/loleg/dribdat ) and data and coaching and so on.

[2016-03-01 06:39] gperriard commented on #20
@MichaelKohler thanks for the summary.
I'm gonna check with L//P Lausanne if we could do it in their office.
Could we vote for a date?
I vote for the 2nd of April.

[2016-03-01 09:23] MichaelKohler commented on #20
2nd of April sounds good to me, since we would have you, @loleg and @colinfrei for help. Not sure if @freaktechnik could join as well. Let's give people one more day to object and then we can schedule a meeting to discuss the content. I think we should also think about example projects we could use as a brainstorm start (as I said above, currently I don't have more than "it should be connected wit

[2016-03-01 09:24] MichaelKohler commented on #24
Since @Mte90 and @freaktechnik would be available on April 30th, let's move it back to then, like that we don't have that much stress at the beginning of the month organizing two hackathons. Do you agree?

[2016-03-01 09:25] MichaelKohler commented on #24
also @colinfrei could you reserve the Arena for the 30th please?

[2016-03-01 09:27] MichaelKohler commented on #26
Thanks for your answer, @annevk . We could probably get a location in Luzern. This would also enable us to reach out to people that have never been in touch with us, this is a great opportunity. Regarding traveling, we're fine with that.

Anne, could you propose a few dates that would fit you so I could reach out regarding the location? Thanks!

[2016-03-01 09:31] MichaelKohler commented on #25
@J0WI quick ping here, do we want to do this on the 22nd? If so, we can ask @colinfrei to reserve the Arena :)

[2016-03-01 09:42] colinfrei commented on #24
Reserved.

[2016-03-01 10:20] Mte90 commented on #24
So the 30th is confirmed? I will buy the ticket for the train and organize for the nights if confirmed.

[2016-03-01 11:20] J0WI commented on #25
Yes, confirm the 22nd.
Sadly I haven't started working on it yet, but feel free to choose a provisional title.

[2016-03-01 12:09] annevk commented on #26
Apart from the first week and Fridays I think I'm generally available throughout April. Weekends would be slightly easier, but during the week is fine too.

[2016-03-01 12:40] gperriard commented on #20
Good news! We are welcome at Liip Lausanne office and it's a pleasure for them to have an hackaton there.
I'll check with them the details and secure the location once we fixed a date.

[2016-03-04 09:07] gperriard commented on #20
Yup! Did anyone agree on the 2nd of April? :)

[2016-03-04 13:49] MichaelKohler commented on #20
Yes, let's do it then! I will follow up with a doodle to have a coordination call sometime next week :) Thanks for your help @gperriard

[2016-03-04 13:50] MichaelKohler commented on #20
Closing this, will open a new one for the content and logistics.

[2016-03-04 13:50] #20 closed

[2016-03-04 22:21] J0WI commented on #25
I think I'll not focus on Tor and TLS too much, they are worth a own talk.

[2016-03-04 23:57] MichaelKohler commented on #12
This will be on April 2nd in Lausanne.

[2016-03-05 00:00] MichaelKohler opened #28 "Organize topics and logistics for IoT hackathon in Lausanne"
## Goal:
Organize everything for the IoT hackathon in Lausanne on April 2nd, so we can start promoting it.

## Success:
We have a plan on content, logistics and promotion.

## Related Issues & Links:
[meta] #12

## Roles:
Owner: @MichaelKohler
Involved: @gperriard @loleg @colinfrei @freaktechnik

## Required:
- [x] Schedule a call to discuss content and logistics (@MichaelKohler, [medium], Due: Ma

[2016-03-05 00:04] MichaelKohler opened #29 "[meta] Organize informal Bern meetup in March"
## Goal:
Meet informally in Bern for a drink at the end of the month.

## Roles:
Owner: @MichaelKohler
Involved: everybody

## Required:
- [ ] Send out doodle (@MichaelKohler, [medium], Due: March 7)
- [ ] Finalize date and reserve space (@MichaelKohler, [medium], Due: March 10th)

[2016-03-07 10:33] Mte90 commented on #24
the date is confirmed?

[2016-03-07 10:52] MichaelKohler commented on #24
Yes, I'll open a new issue to coordinate the content and logistics for this.

[2016-03-07 10:52] #24 closed

[2016-03-07 13:11] MichaelKohler opened #30 "Get content and logistics in place for Firefox hackathon"
## Goal:
Have organized everything for the Firefox hackathon in Zurich on April 30th.

## Success:
We are ready to go!

## Related Issues & Links:
[meta] #23

## Roles:
Owner: @MichaelKohler
Involved: @colinfrei @mte90 @freaktechnik

## Required:
- [x] Define content / format (all, [medium], Due: 15.03.2016)
- [x] Announce hackathon on meetup and Twitter (@MichaelKohler, medium, Due: 25.03.2016)
-

[2016-03-07 18:43] gperriard commented on #28
Yop! Regarding the discussion, would this Thursday 10th March be fine for everyone?
@MichaelKohler

[2016-03-07 19:01] freaktechnik commented on #28
I can take part on march 10th if we get our fiber connection by then.

[2016-03-07 19:22] loleg commented on #28
I must say, I love this idea. Please let me save you the trouble of
organising a high quality event in less than a month: consider instead
joining the Energy Hackdays on the weekend of April 8 - 9, on a closely
linked topic, at two amazing locations, with great support and a bunch of
good people signed up!

Come on Mozillians, bring your sensors and open devices, and lets hack them
for the good of

[2016-03-07 22:34] MichaelKohler commented on #28
Sounds good to me, but I won't be available after 16:00 until around midnight. Would Wednesday evening work?

[2016-03-08 09:11] MichaelKohler commented on #28
To be honest, we're not aiming for a "big" hackathon. I think it's already a success if we have 10 people. We'll keep the logistics part to a minimum, therefore this should work.

I think most of us won't be available on Friday, so only Saturday would work. This would be a nice way to get into the energy topic. For myself, I'll definitely think about it :)

[2016-03-08 18:12] MichaelKohler commented on #9
I had a meeting with the Policy team, here are the rudimentary notes:
- In general the organisation stands behind us, the policy team agrees that fighting this is in Mozilla's interest
- Since there are a lot of similar proposals/changes going on, we might not be able to have dedicated support from the team all the time. But we can reach out for help if we see something that we can't handle oursel

[2016-03-08 18:12] #9 closed

[2016-03-08 18:16] MichaelKohler opened #31 "Brainstorm NDG voting activities"
## Goal:
Have a draft list of activities we could do as a community to support the NDG referendum efforts.

## Success:
We have at least 3 different agreed activities we are carrying out over the summer.

## Related Issues & Links:
[objective] #4

## Roles:
Owner: @MichaelKohler
Involved: @J0WI, everyone else

## Required:
- [ ] Brainstorm on possible activities (all, [medium], Due: 31.05.2016)
-

[2016-03-08 18:19] MichaelKohler commented on #31
One idea in the meeting yesterday was to draft an open letter "to the Swiss voters". Do you think that would have impact? Should we do this alone or get the other allies on board as well? We probably can't fund 3 million (or even more) letters, but we could publish this online. What do you think?

Other ideas I had:
- [ ] Print a few flyers with a kick-ass design and distribute them
- [ ] Start a

[2016-03-08 20:40] MichaelKohler commented on #29
Please fill out http://doodle.com/poll/tz6m42gdyrn2rg52 :)

[2016-03-08 21:14] MichaelKohler commented on #25
Hey @J0WI, I'd like to announce the meetup within the next days, do you think you could come up with a title and a few sentences about the content? 2-3 would be enough and we could still change it :)

[2016-03-08 22:20] J0WI commented on #9
Disagree. Blog post should be published after the holidays in the end of August/Begin of September.
Otherwise nobody will remember the post during the votes.

[2016-03-08 22:22] MichaelKohler commented on #9
That was a "certainly not before that date". August/begin of September sounds good to me!

[2016-03-08 23:01] J0WI commented on #31
The letter is a good idea and it could have an impact if we reach the press. If we have officially support by Mozilla, it's very likely, that some tech magazines will take attention. The hard part is, that this will be surprising or important enough for the mainstream news.

Here are some requirements:
- campaign site (maybe a mix of customized [get smart on](https://www.mozilla.org/de/teach/smart

[2016-03-08 23:05] MichaelKohler commented on #31
Great input, thanks for joining into this that quickly!

Great idea, we could create a sub page on mozilla.ch for example? I think we're pretty free on what we do with that as long as it's within our mission :)

Not in terms of l10n. I'm not sure if I understand the audience part of it though.

[2016-03-08 23:26] J0WI commented on #31
I think it has a different effect, if the statement is just from mozilla.ch or in the name of the Mozilla Foundation.

[2016-03-08 23:27] MichaelKohler commented on #31
We could use it as a hub, and also post it to mozilla.org. I think that would work.

[2016-03-08 23:33] J0WI commented on #31
Okay, but then we need a solid solution for #16 first.

[2016-03-10 06:55] gperriard commented on #28
@MichaelKohler arf .. I didn't see your message.
Unfortunately, I can't make it earlier today. Would next Tuesday at 19:00 be fine for you?
What about the others?

[2016-03-10 08:09] MichaelKohler commented on #28
@gperriard no worries, yes that would work.

Preliminary agenda:
- Confirm location
- Agenda
- Content
- Hardware
- Lunch
- Follow-up after the hackathon
- Next steps

[2016-03-11 18:42] Mte90 commented on #30
For my talks: http://mte90.github.io/
I think that Firefox and WebExtensions and Demolish the web with Firefox are perfect for an hackaton about Firefox.
Maybe https://janitor.technology/ will be useful if we want to hack on Firefox. I tried and works without problems and is very easy. In this way for a developer is not required to have a local system for development/compile.

[2016-03-12 12:49] MichaelKohler commented on #30
I filled out a possible agenda here: https://public.etherpad-mozilla.org/p/mozillach-firefox-hackathon-apr16

@Mte90 would you be okay with that?
@freaktechnik @gion-andri do you guys want to have talk as well?

[2016-03-12 12:58] MichaelKohler commented on #29
quick ping for @DocZweirad @freaktechnik

[2016-03-12 13:02] MichaelKohler commented on #25
Meetup event: http://www.meetup.com/Mozilla-Meetup-Switzerland/events/229533338/
@colinfrei could you please reserve the 22nd at 19:00? thanks!

I will announce the event once the location is reserved.

[2016-03-12 13:43] MichaelKohler commented on #26
Reached out to Netnode, let's see if they are willing to host us and could give us a few dates that would work for them :)

[2016-03-12 15:11] Mte90 commented on #30
For me is ok the problem of janitor that is in beta, so for use you have to wait for the approval of the account, but for other information we can ask to @jankeromnes.

[2016-03-12 16:48] jankeromnes commented on #30
I'd love to give you as much support as possible with https://janitor.technology, but as @Mte90 correctly identified it's still in alpha version (details below).

**The goal**: The Janitor's long-term goal is to support spontaneous contributions to large open source projects like Firefox (e.g. like in the hackathon you're organizing), thanks to unlimited full-featured development environments that

[2016-03-13 13:12] MichaelKohler commented on #26
@annevk how about April 13 or April 27? If so, what time would be best for you? :)

[2016-03-14 08:38] colinfrei commented on #25
Reserved.

[2016-03-14 17:22] annevk commented on #26
I prefer April 13. There's a small chance something else might come up, but I should know that relatively shortly. If I take the train at 7PM here I should be able to show up before 8:30PM in most places in Luzern. Would that work?

[2016-03-14 18:36] MichaelKohler commented on #25
Thanks, Colin. Meetup is announced, Event pages are up to date.

@J0WI if you want me to change the description, just tell me. I think we're ready for that, so I'm closing this one :)

Thanks for all your help!

[2016-03-14 18:36] #25 closed

[2016-03-14 18:40] MichaelKohler commented on #29
This will happen on Friday, 18th of March at 19:00 in the Tramdepot. Here's the Reps page: https://reps.mozilla.org/e/mozcoffee-bern-march-2016/

[2016-03-14 18:40] #29 closed

[2016-03-15 13:02] MichaelKohler commented on #26
Perfect, we will meet on April 13th, 19:00 at Netnode. They haven't fully confirmed yet, but that should be okay.

Preliminary agenda:

19:00 - 19:15 Introduction to Mozilla & What are we currently doing with Connected Devices?
19:15 - 20:00 Hacking on Firefox with JavaScript
20:00 Open Standards (Anne)

I will create a meetup.com event for it once confirmed.

[2016-03-15 13:51] MichaelKohler commented on #28
@gperriard would today at 19:00 still be okay with you? if so, let's do this and discuss at least the next steps :) we did our last planning meeting in Vidyo, but that doesn't work that well depending on your OS. Want to use skype?

[2016-03-15 15:42] gperriard commented on #28
@MichaelKohler due to unforeseen circumstances, I'm won't be able to join you tonight for the video conf.
Don't wait on me for this call, however I would be available next Tuesday at 19:00 if ever.
Sorry for the inconvenience.

[2016-03-16 13:46] MichaelKohler commented on #26
It's confirmed, we start at 19:00 with Welcome drinks and then I'll give an introduction to Mozilla at 19:30. Here's the meetup page: http://www.meetup.com/TechUP-Luzern/events/229099309/ (we'll leave the firefox hacking part in that case).

I will create the same for the Mozilla Switzerland meetup as well. Will also update the Reps page.

[2016-03-16 17:37] MichaelKohler commented on #26
https://reps.mozilla.org/e/open-web-standards/
http://www.meetup.com/TechUP-Luzern/events/229099309/
http://www.meetup.com/Mozilla-Meetup-Switzerland/events/229635108/

I think we have everything we need for it, closing this one :) Thanks for all your help!

[2016-03-16 17:37] #26 closed

[2016-03-16 17:51] MichaelKohler commented on #16
It's currently running on a DigitalOcean droplet, we can move it once we have the SSL figured out.

Another thought: maybe we could fix mozillach/mozilla.ch#23 before that? Apart from this one, I don't see any other issue that has P1 (that is as long as tabzilla still works).

[2016-03-16 19:18] MichaelKohler commented on #16
And yes, I meant to say mozillach/mozilla.ch#34, sorry :)

[2016-03-19 00:07] MichaelKohler commented on #11
I've added Martin to the focus group as well. Currently 2 people should be enough, in case we see that the focus group is really needed, we will reach out again to have more members. For now we could cover decisions in case we would need it (as stated before, we haven't had that in the past, so I don't think we will have anything in the future as well :))

[2016-03-19 00:07] #11 closed

[2016-03-19 00:08] MichaelKohler commented on #10
I've added a few more contribution areas, I think we're more or less complete now. There are probably still some areas missing, but since it's a wiki, everybody can add their own areas as well :)

[2016-03-19 00:08] #10 closed

[2016-03-19 00:08] #18 closed

[2016-03-19 00:23] MichaelKohler commented on #28
I've started a brainstorm etherpad here: https://public.etherpad-mozilla.org/p/mozillach-iot-hackathon-april2

The currently open questions are mostly around the content.

@gperriard could you please confirm that the proposed agenda would work for Liip (e.g. confirming the loation)? Also could you answer the open question regarding lunch?

[2016-03-20 15:04] freaktechnik opened #32 "Speaker Documentation"
## Goal:
Document infrastructure and procedure for speaking at a mozilla.ch event.

## Success:
Speakers have a comprehensive idea of what they will find at the location.

## Roles:
Owner: @freaktechnik
Involved: @MichaelKohler

## Required:
- [x] Initial documentation on Switzerland/Events on WIMO (@freaktechnik, medium, Due: 20.04.2016)
- [x] Add Romandie specific info (@MichaelKohler, medium, D

[2016-03-20 21:09] MichaelKohler opened #33 "Get a Rust intro by Rust Switzerland Community in June"
## Goal:
Have an introduction to the Rust community in Switzerland and get educated about Rust.

## Success:
We have at least 2 contact persons in the Rust community to plan for future events.

## Roles:
Owner: @freaktechnik
Involved: @MichaelKohler

## Required:
- [x] Get in touch with the Rust community (@MichaelKohler, medium, Due: 15.4.2016)
- [x] Start to organize an Intro talk at our meetups

[2016-03-20 21:15] MichaelKohler opened #34 "Start discussions on Discourse"
## Goal:
We know whether we can move to Discourse without subjections or not.

## Roles:
Owner: @MichaelKohler
Involved: @freaktechnik

## Required:
- [x] Start discussion on Mailing list (no objection == let's move ahead) (@MichaelKohler, medium, Due: 30.04.2016)
- [x] Create Switzerland subcategory on Discourse (@MichaelKohler, medium, Due: 20.05.2016)
- [x] Deprecate Mailing list and send out t

[2016-03-20 21:18] MichaelKohler opened #35 "Get in touch with all unvouched Mozillians"
## Goal:

We have contacted and checked for possible interest with all unvouched Mozillians that have registered some time in the past.
## Roles:

Owner: @MichaelKohler
Involved: @freaktechnik
## Required:
- [x] Draft an email to be sent out (@MichaelKohler, medium, Due: 26.03.2016)
- [x] Send out the mails (@MichaelKohler, medium, Due: 28.03.2016)
- [x] Onboard interested persons (@MichaelKohler,

[2016-03-21 15:06] freaktechnik commented on #32
Page started on https://wiki.mozilla.org/Switzerland/Events

[2016-03-21 16:39] gperriard commented on #28
@MichaelKohler That should normally be fine with the location. I already got a ok few weeks ago.
I'll check tomorrow with someone from Lausanne about the lunch and everything related to the office (key for the door, etc.)

[2016-03-21 16:47] gperriard commented on #28
Regarding the hardware devices, I think it would be risky to rely only on people bringing their devices.
@colinfrei do you know if we have some kind of IoT hardware at Liip that we could borrow? (raspery pi, ...)

[2016-03-21 18:30] MichaelKohler commented on #28
Definitely, I've added what I can bring in terms of hardware on the Etherpad.

[2016-03-21 19:03] colinfrei commented on #28
there might be some stuff lying around, I guess it depends on what we're actually looking for. I can check with Michael tomorrow.

[2016-03-21 19:05] MichaelKohler commented on #28
Please check with @freaktechnik since I won't be able to attend tomorrow :(

[2016-03-22 12:45] gperriard commented on #28
Hoi!

Here are some info about the location and the lunch.

**Location**
I confirm that the hackday can be held at **Liip office, rue Etraz 4, 1003 Lausanne**
We have a room, a kitchen and a terrace at our disposal with the following furnitures:
- 1x beamer
- tables and chairs
- 1x sofa
- wifi
- electric connections
- ping-pong table :)

The office will be for us from 08:00 to 19:00.
The main entr

[2016-03-22 21:53] MichaelKohler commented on #28
That would be good. We can bring some drinks from the supermarket when we arrive (we don't really have a budget for this event).

Just created, here we go: http://www.meetup.com/Mozilla-Meetup-Romandie/events/229797456/ . Would be great if you could spread that around :)

[2016-03-22 21:54] MichaelKohler commented on #21
Event page: http://www.meetup.com/Mozilla-Meetup-Romandie/

[2016-04-01 17:44] MichaelKohler commented on #21
we tried our best to promote it, though we don't have many signups. I guess we need to discuss this, one solution might be to start a normal evening meetup first, before we can ask people to join for a whole day.

[2016-04-01 17:44] #21 closed

[2016-04-01 17:44] MichaelKohler commented on #28
Looks like we're all set for tomorrow. Let's see if people show up, otherwise we can talk on how we can improve and maybe work on our own little project :)

[2016-04-01 17:44] #28 closed

[2016-04-01 20:08] #12 closed

[2016-04-02 06:35] MichaelKohler commented on #30
http://www.meetup.com/Mozilla-Meetup-Switzerland/events/230065394/
https://public.etherpad-mozilla.org/p/mozillach-firefox-hackathon-apr16

[2016-04-02 06:37] MichaelKohler opened #36 "Create good first bug list for Firefox Hackathon"
## Goal:
Have a list of good first bugs / good first contribution opportunities. For those that were at the hackathon last year, we should have a list of good next bugs.
https://public.etherpad-mozilla.org/p/mozillach-firefox-hackathon-apr16

## Related Issues & Links:
[meta] #23

## Roles:
Owner: @MichaelKohler
Involved: @freaktechnik

[2016-04-02 06:44] MichaelKohler commented on #30
I think we're ready here. Feel free to reopen if there is something else regarding logistics.

[2016-04-02 06:44] #30 closed

[2016-04-02 15:50] MichaelKohler opened #37 "Feedback for Vaani team"
## Goal:
Get in touch with the Vaani team to give feedback regarding documentation.

## Success:
The Vaani documentation is improved so contributions are possible.

## Roles:
Owner: @MichaelKohler
Involved: @gperriard

## Required:
- [x] Draft initial feedback (@MichaelKohler, medium, Due: 30.04.2016)
- [ ] Review feedback (@gperriard, medium, Due: 30.04.2016)
- [x] Send out feedback (@MichaelKohl

[2016-04-02 15:52] MichaelKohler commented on #27
I'd recommend to have a followup during another meetup we could organize with a talk. What kind of talks could be interesting? I think something around Firefox would be good. Some ideas:
- Firefox Dev Tools
- WebExtensions

@freaktechnik @gperriard  any other ideas?

[2016-04-02 15:54] MichaelKohler commented on #16
Unassigning me, since this one is blocked by the SSL issue

[2016-04-02 15:58] MichaelKohler commented on #14
Can we move ahead here? Do we want to create a voting?

If so, I think those are our candidates:
https://michaelkohler.info/mozilla/tshirt_logo/new_dino2.svg
http://marco.dilbert.ch/map_dino.svg
http://marco.dilbert.ch/new_dino.svg
https://michaelkohler.info/mozilla/tshirt_logo/new_dino2.svg

[2016-04-02 16:29] MichaelKohler commented on #32
I've added the "Organizing an event" section and the Lausanne specific stuff.

https://wiki.mozilla.org/Switzerland/Events

I think we're ready for review, could @J0WI @grrd01 @colinfrei have a look and give some feedback if this is everything we need to think of? Thank you!

[2016-04-02 20:28] J0WI commented on #32
We also have some tables and sometimes beverages in Zurich.
AFAIK there is also a tabletop soccer and various adapters for the HDMI plug.

A little description how to get there would be nice (e.g. bus/next tram station, which line number from railway station) or time by foot.

[2016-04-03 08:56] freaktechnik commented on #32
I think in the arena at liip Zürich there is only a HDMI -> mini Displayport adapter. I'm not sure that's something that we should explicitly list and instead if someone asks if we have one, say that there should be one around.

Good idea.

[2016-04-05 09:15] grrd01 commented on #14
imho, the 4 candidates are too much of everything.
i like dinos, but dinos + map + cross + letters is an overkill.
just because svg CAN align text along a curve does not mean we have to do it.

i personally would prefer a shirt with just our favicon (which i like very much): https://wiki.mozilla.org/Switzerland

grrd

[2016-04-05 19:38] ghost commented on #14
Most of the technical stuff may already be present. At least we now have an ample collection of material from which to choose. Reaching consensus may be a greater challenge however. If somebody wants to pick up the torch going forward (organize a voting, consolidate designs, get quotes, place an order, etc.) you're very welcome. I may not have as much time to invest as I'd like in the near future.

[2016-04-12 13:38] jankeromnes commented on #30
I think I found a way to let participants use https://janitor.technology for the Hackathon if they're interested in trying out the Alpha.

@MichaelKohler or @Mte90, do you know approximately how many participants there will be? (More like 10, 50, or 200?)

[2016-04-12 13:39] MichaelKohler commented on #30
@jankeromnes let's say something between 15 and 20 :) Great news! I really like this idea!

[2016-04-12 17:36] Mte90 commented on #30
My talk slide about Janitor and dev tools are ready on mte90.github.io :-)

[2016-04-13 21:01] MichaelKohler opened #38 "Videos of our talks on AirMozilla"
## Goal:
Record our talks and have them published on AirMozilla. Live-Streaming is optional.

## Related Issues & Links:
[goal] #7

## Roles:
Owner: @MichaelKohler
Involved: @freaktechnik @colinfrei

## Required:
- [ ] Check the current status regarding recording (@MichaelKohler, medium, Due: 30.04.2016)
- [ ] Organize recording (@MichaelKohler, medium, Due: 15.06.2016)
- [ ] (optional) Organize l

[2016-04-13 21:04] MichaelKohler opened #39 "Organize May meetup"
## Goal:
Have a meetup in Zurich for May.

## Success:
At least 10 people show up to a meetup in Zurich in May.

## Related Issues & Links:
[goal] #7

## Roles:
Owner: @MichaelKohler
Involved: @freaktechnik , @colinfrei

## Required:
- [x] Find a topic and speaker (@MichaelKohler, medium, Due: 03.05.2016)
- [x] Find a date (???, medium, Due: 03.05.2016)
- [x] Promote meetup (???, medium, Due: 10.0

[2016-04-14 10:13] freaktechnik opened #40 "Get added to freie-termine.ch"
## Goal:
Our events are on freie-termine.ch

## Roles:
Owner: @freaktechnik
Involved: @MichaelKohler, whoever else wants to join the conversation.

## Required:
- [x] Define which calendar to use (@freaktechnik, @MichaelKohler, small, Due 31.05.2016)
- [x] Contact freie-termine.ch (@freaktechnik, small, Due: 30.06.2016)

[2016-04-15 20:50] freaktechnik commented on #40
We should decide which calendar feed we'd ask to be included. We have two options, as far as I know:
- Reps (same as we have on the website), would include informal events
- Meetup , would not include informal events

[2016-04-23 19:41] MichaelKohler commented on #36
Added a full list to https://public.etherpad-mozilla.org/p/mozillach-firefox-hackathon-apr16 . Does that look good to you @freaktechnik ? If so, please close here, otherwise feel free to extend :)

[2016-04-23 19:49] MichaelKohler commented on #32
I've edited the page according to Gerard's feedback (at least the parts that weren't added yet). @freaktechnik I guess we're ready to close this issue, right?

[2016-04-24 06:45] freaktechnik commented on #32
I'd assume so, the basic goal is met in my opinion.

[2016-04-24 06:48] #36 closed

[2016-04-24 08:30] MichaelKohler commented on #32
Since it's a wiki page, we can always edit it if we see that something is missing or not clear :)

[2016-04-24 08:30] #32 closed

[2016-04-26 17:47] jankeromnes commented on #30
Between 15 and 20 sounds perfectly doable! :)

During the event, please mention that anyone interested in trying the Janitor can join the Alpha by:
- Creating a free Cloud9 account at https://c9.io/signup
- Adding an email address to https://janitor.technology
- Joining the [#janitor](https://kiwiirc.com/client/irc.freenode.net/?#janitor) IRC channel on freenode for live support

Thanks!

[2016-04-26 17:53] MichaelKohler commented on #30
Thanks @jankeromnes , this will be great! We'll also write a blog post about our experience! :)

[2016-04-26 18:01] Mte90 commented on #30
ok i update the slides!

[2016-04-27 02:56] #23 closed

[2016-04-27 17:27] MichaelKohler commented on #39
Any idea for a topic we could have a talk about?

[2016-04-30 07:04] MichaelKohler commented on #34
added a more realistic timeline

[2016-04-30 07:10] MichaelKohler commented on #39
Reached out to Mark Shillitoe to ask if he wants to do a talk about Webmaker

[2016-04-30 07:27] MichaelKohler commented on #34
sent out a mail to the mailing list, open for feedback until May 10

[2016-04-30 15:44] freaktechnik opened #41 "Custom URL shortener"
## Goal:

A custom URL shortener where we have full control over all the generated URLs and can change targets if we want to.
## Success:

We have a working URL shortener on a subdomain of mozilla.ch
## Related Issues & Links:

(none yet)
## Roles:

Owner: @freaktechnik
Involved: @MichaelKohler
## Required:
- [x] Investigate URL self-hosted shorteners (@freaktechnik, small, Due: 30.05.2016)
- [ ]

[2016-04-30 21:33] MichaelKohler commented on #39
Mark could do May 18th, he will confirm next week. He would be talking about Webmaker.

@colinfrei could you please reserve the Arena on May 18th, 19:00 for us? Thanks!

@freaktechnik should we create the event even though it's not yet fully confirmed? (at least on Reps?)

[2016-05-01 06:30] colinfrei commented on #39
reserved

[2016-05-01 09:08] freaktechnik commented on #39
@MichaelKohler I think creating it on reps should be okay, I wouldn't create the meetup event yet and trigger the notifications to the audience yet...

[2016-05-03 17:30] MichaelKohler commented on #14
@DocZweirad I'm getting 404s on the ideas hosted on your website. Could you please check? :)

[2016-05-03 19:14] freaktechnik commented on #39
confirmed: https://twitter.com/markshillitoe/status/727576827737350144

[2016-05-03 19:15] ghost commented on #14
Yeah, there was a little accident last week-end. Wiped out almost everything. ;-)
Tell me which of the designs you're interested in and I'll gladly send you the files from a backup.

[2016-05-04 16:00] MichaelKohler commented on #14
@DocZweirad those two would be really great:

http://marco.dilbert.ch/map_dino.svg
http://marco.dilbert.ch/new_dino.svg

Then I'll start a voting with these three (and I think we will also create some with the normal avatar if there is interest):

https://michaelkohler.info/mozilla/tshirt_logo/new_dino2.svg
http://marco.dilbert.ch/map_dino.svg
http://marco.dilbert.ch/new_dino.svg

[2016-05-04 16:56] #39 closed

[2016-05-05 09:28] MichaelKohler commented on #27
Updated metrics: I've deleted the requirement for "hackathon people", since we first need to have a base that are actually interested in Mozilla.

[2016-05-05 09:29] MichaelKohler commented on #27
@gperriard hi Geoffroy, could you please check with Liip if we could run an evening meetup in the week of May 23rd? Thank you!

[2016-05-05 09:29] MichaelKohler commented on #27
I'd prepare a talk about Dev Tools to speak there

[2016-05-05 09:49] freaktechnik commented on #41
I'd suggest to use http://yourls.org/. We'll need to set up a container that we can configure for our usage and get a database container, too.

[2016-05-05 10:27] MichaelKohler commented on #14
New URLs:

https://michaelkohler.info/mozilla/tshirt_logo/new_dino2.svg
https://michaelkohler.info/mozilla/tshirt_logo/map_dino.svg
https://michaelkohler.info/mozilla/tshirt_logo/new_dino.svg

Voting: https://docs.google.com/forms/d/10LEArWKkf363vJ9uUt1gta0pJHHz71XWpGmhPwz9YEc/viewform

@freaktechnik are those the right questions? If so, I'll send it out through the mailing list

[2016-05-05 10:32] freaktechnik commented on #14
@MichaelKohler maybe we should also try to find the preferred colour (or something toward that), since that's also deciding. Maybe just three options "light", "dark" and "colourful".

[2016-05-05 10:36] freaktechnik commented on #33
Someone with telegram should try http://www.meetup.com/Rust-Zurich/messages/boards/thread/49749350/

[2016-05-05 10:46] MichaelKohler commented on #33
Just got in touch with this group, general interest is there as it seems :)

[2016-05-05 10:49] MichaelKohler commented on #37
https://discourse.mozilla-community.org/t/vaani-iot-documentation/8500

[2016-05-05 10:49] #37 closed

[2016-05-05 10:51] dbrgn commented on #33
Yes, I'd say we're generally interested :) We're members of the @coredump-ch hackerspace in Rapperswil. Some of us (mostly @rnestler, @dns2utf8 and me) are hacking with Rust since about a year. Among others:
- https://github.com/coredump-ch/spaceapi-rs
- https://github.com/coredump-ch/spaceapi-server-rs
- https://github.com/coredump-ch/status
- https://github.com/coredump-ch/coredumpbot

@rnestler

[2016-05-05 10:55] freaktechnik commented on #40
Kind of off-topic, but I sent an e-mail to ask to be added to http://www.lugs.ch/lugs/termine/. Still haven't found a contact for freie-termine.ch.
EDIT: getting added to the lugs list would also add us to freie-termine.

[2016-05-05 11:00] MichaelKohler commented on #13
Contact: https://www.wikimedia.ch/de/kontakt/

[2016-05-05 11:10] MichaelKohler commented on #14
Added and sent to the mailing list. Open for voting for the next 14 days.

[2016-05-05 11:16] MichaelKohler commented on #40
I've sent you a contact in private

[2016-05-05 11:44] DocZweirad commented on #14
@MichaelKohler: I may be mistaken, but I think one of the published designs is wrong.
new_dino.svg would be the one with the small map of Switzerland on its side, wouldn't it?
(Right now it's too similar to new_dino2.svg, but with outdated eyes and white text.)

[2016-05-06 14:51] freaktechnik commented on #40
By submitting our dates to LUGS we will also appear on freie-termine.ch

[2016-05-06 14:51] #40 closed

[2016-05-09 15:30] J0WI commented on #41
I don't understand the need of short URLs, but can we at least ask for mzl.la before we create set up something new?

[2016-05-09 16:10] freaktechnik commented on #41
mzl.la can already be used via bit.ly links but only for mozilla.org urls (not sure if the newer .community and etherpad-mozilla.org are included). Reason is mostly that handing out URLs to people at hackathons is not that easy with complicated URLs that tend to happen.

Oh, and another criteria was to have the short URLs to be editable, so we can re-use simple things like "/feedback".

[2016-05-09 17:37] MichaelKohler commented on #41
mozilla.community, mozilla-community.org and etherpad-mozilla.org are not included there AFAIK. And also we would want to have nice URLs like /feedback, /firefox, /mailinglist, whatever.

For mzl.la we need would need access to it, and then we would still depend on not-already-used shortnames. Further I have no idea how bit.ly is handling this on their side, so extending this to "mozilla-related"

[2016-05-11 07:44] gperriard commented on #27
@MichaelKohler unfortunately, I won't be here this week. Would it be possible to postpone it to the 31th May? So it'll be easier for me to organize something in Liip offices.

[2016-05-11 07:46] MichaelKohler commented on #27
@gperriard sure! Thanks for your help.

@juliandescottes would that week work for you as well?

[2016-05-16 17:32] juliandescottes commented on #27
Sorry my schedule has been shifting a lot these days. I'm not sure I will be in the Lausanne area around the end of May. Sorry about this.

If I happen to be around I'll let you know but chances seem pretty low.

[2016-05-17 04:41] gperriard commented on #27
@MichaelKohler the room is available for the 31th May if needed.

[2016-05-18 20:47] MichaelKohler commented on #34
I guess we can continue here since we didn't have any objections (or any feedback at all for that matter). I'll request a new discourse category for us.

[2016-05-18 20:48] MichaelKohler commented on #31
Do we have any other ideas here?

[2016-05-18 20:53] MichaelKohler commented on #33
@dbrgn would any of the following dates (at around 7pm) work for you to have an intro talk in Zurich?

22.06.
23.06.
29.06.
30.06.

Would be great to have somebody of you there and give a talk :)

Then we could also start to plan for a Servo hackathon around the end of summer.

[2016-05-18 20:53] MichaelKohler commented on #14
Last reminder to vote, I will check the results by tomorrow or Friday.

[2016-05-19 14:08] dns2utf8 commented on #33
I prefere the wednesdays.

I would like to help with the hackaton, but my timewindow at the end of summer is 5. - 16. september.

[2016-05-19 14:10] dbrgn commented on #33
23.06. collides with the Blues'n'Jazz festival.

For me, the 30. would be best, but 23. or 29. would work too.

@rnestler, what about you?

[2016-05-19 19:31] MichaelKohler commented on #27
I'll know shortl if May 31st will work for me, maybe I won't be able to do that one. Will report back. Thanks for checking!

[2016-05-19 19:54] rnestler commented on #33
23.06 is bad for me as well. Good would be:
- 22.06
- 30.06

29.06 would also be OK, but I would prefer the other two dates.

So I guess 30.06 it is?

[2016-05-20 11:32] MichaelKohler commented on #27
@gperriard Unfortunately I won't make it then :(

Alternate dates: 8.6./ 9.6. / or the week of 20.06. .. could you please check for those? :)

[2016-05-20 11:34] MichaelKohler commented on #33
Perfect, thanks a lot everyone!

@colinfrei could you please reserve the Arena for the 30.06. at 19:00? Thanks!

I will create the meetup page and promote it after the location is set.

[2016-05-20 11:51] dbrgn commented on #33
If you want, you can take the description from https://etherpad.coredump.ch/p/rust-talk-cosin16.

[2016-05-20 11:54] colinfrei commented on #33
Room booked.

[2016-05-20 12:10] MichaelKohler commented on #33
Thanks Colin!

http://www.meetup.com/Mozilla-Meetup-Switzerland/events/231268531/
https://reps.mozilla.org/e/introduction-to-rust/
http://techup.ch/2315/introduction-to-rust

https://twitter.com/MozillaCH/status/733629746551107584
Announced to the mailinglist as well.
Sent mail to LUGS Termine to add it to their calendar

Everyone, please use your channels to announce this as well :)

Let's talk a

[2016-05-20 12:10] #33 closed

[2016-05-20 19:06] MichaelKohler commented on #34
Discourse request is here: https://bugzilla.mozilla.org/show_bug.cgi?id=1274239

[2016-05-20 19:12] MichaelKohler opened #42 "Organize Half-year Community Meetup"
## Goal:
We have organized a community meetup to share information from the All Hands and define our activities and goals for the second half of the year.

## Roles:
Owner: @MichaelKohler
Involved: @freaktechnik

## Required:
- [x] Send out doodle for dates (@MichaelKohler, small, Due: 20.05.2016)
- [x] Decide on a date (@MichaelKohler, small, Due: 27.05.2016)
- [x] Ask Colin to reserve a meeting

[2016-05-20 19:22] MichaelKohler commented on #42
Doodle here: http://doodle.com/poll/xk756dkrub8x3rtd

Mail sent out to the Mailing list

[2016-05-20 19:24] freaktechnik commented on #34
https://discourse.mozilla-community.org/c/communities/switzerland

[2016-05-20 20:00] MichaelKohler commented on #34
I guess we can close this one. I think it's best to just not post any updates to the mailing list after June. I'll still be subscribed to have people redirected to Discourse if necessary.

[2016-05-20 20:00] #34 closed

[2016-05-20 20:04] MichaelKohler commented on #14
Looks like we have a pretty interesting result. We have 7 responses. Out of these, 4 vote for "None of these" while all 7 responds indicate, that they would also like one with the avatar on it.

So, do we want to be pragmatic and just print t-shirts with the avatar on it and that's it?

Further, I think we should also include the "mozilla" workmark somewhere. How about having the same back as http

[2016-05-21 00:01] MichaelKohler commented on #42
Pinging some people to make sure that they see it and fill out the doodle :) @gperriard @annevk @juliandescottes

[2016-05-23 06:49] annevk commented on #42
That'll be hard for me to attend, but let's try to get together in London!

[2016-05-27 09:56] MichaelKohler commented on #42
@colinfrei could you please fill out the doodle as well? (one for you and one for having space, either arena or a meeting room)

@DocZweirad maybe you could fill it out as well? :)

[2016-05-27 10:44] colinfrei commented on #42
Done. I filled in Arena, meeting room will always work, though much easier if I'm there.

Bern office might also be possible. Let me know if necessary, and I can look into it.

[2016-06-09 21:13] MichaelKohler commented on #42
Let's do it on the 20th. @colinfrei could you please reserve the space? (Arena or meeting room, doesn't really matter)

[2016-06-09 21:23] colinfrei commented on #42
reserved.

[2016-06-09 23:15] MichaelKohler commented on #42
Agenda: https://public.etherpad-mozilla.org/p/mozillach-community-meetup-june2016
Reps event: https://reps.mozilla.org/e/mozilla-switzerland-community-meetup-1/

Please feel free to comment on the agenda, this is a rough draft.

[2016-06-20 16:16] MichaelKohler commented on #15
Since this is now really old data, I don't see the point anymore in analyzing this. There will be a future survey similar to this and I'll make sure that we get the data earlier/at all.

[2016-06-20 16:16] #15 closed

[2016-06-20 16:22] MichaelKohler commented on #27
Let's talk about our strategy for the Romandie tonight and then we will open new issues.

[2016-06-20 16:22] #27 closed

[2016-06-20 16:22] #42 closed

[2016-06-20 16:24] MichaelKohler commented on #16
The PaaS is updated with our latest docker image. The DNS change has been done. This should now propagate through the internet and we don't need to do anything here. Yay!

Reference: https://bugzilla.mozilla.org/show_bug.cgi?id=1280598

[2016-06-20 16:24] #16 closed

[2016-06-20 16:31] MichaelKohler commented on #7
3 meetups fulfilled, if we also count meetups where we had a talk. So the only thing not achieved here is the CH OPEN meeting.

[2016-06-21 09:34] J0WI commented on #7
See also #13

[2016-08-11 20:51] MichaelKohler opened #43 "Organize talk in Zurich in September"
## Goal:
We have at least one talk organized in Zurich in September to finish our summer break.

## Roles:
Owner: @MichaelKohler
Involved: @freaktechnik

## Required:
- [x] Decide on a date (@MichaelKohler, Due: 11.08.2016)
- [x] Come up with the topic and write a description (@freaktechnik, Due: 15.08.2016)
- [x] Reserve the location (@MichaelKohler, Due: 18.08.2016)
- [x] Announce on meetup/tech

[2016-08-11 20:52] MichaelKohler commented on #43
As previously discussed with @freaktechnik a talk about WebExtensions would be nice. We came up with the 19th of September, if that works for the Arena.

@freaktechnik could you please post your abstract here?
@colinfrei could you please reserve the Arena for the 19th of September at 19:00? (additionally to the currently existing reservation ;))

Thanks!

[2016-08-11 20:54] freaktechnik commented on #43
I wonder if I should add an engagement sentence for people that have written chrome extensions and are interested in what porting involves.

[2016-08-11 21:11] MichaelKohler commented on #43
Yes, please :)

[2016-08-12 07:30] colinfrei commented on #43
Reserved the 19th.

[2016-08-12 07:37] MichaelKohler commented on #43
Merci!

[2016-08-18 13:44] MichaelKohler commented on #43
Added to meetup and announced on Discourse:

http://www.meetup.com/Mozilla-Meetup-Switzerland/events/233444437/
https://discourse.mozilla-community.org/t/introduction-to-webextensions/10350

Tweet will go out shortly as well.

[2016-08-18 13:44] #43 closed

[2016-09-06 13:47] #3 closed

[2016-09-06 13:47] #4 closed

[2016-09-06 13:47] #5 closed

[2016-09-06 13:47] #6 closed

[2016-09-06 13:48] #7 closed

[2016-09-06 13:48] #8 closed

[2016-09-06 13:48] freaktechnik commented on #41
Moving to next Q.

[2016-09-06 13:49] freaktechnik commented on #38
Moving to next Q

[2016-09-06 13:49] freaktechnik commented on #35
Moving to next Q. Feel free to close this if you feel it is no longer relevant.

[2016-09-06 13:55] freaktechnik commented on #31
Feel free to re-open if you think we can still achieve something meaningful here in the remaining time.

[2016-09-06 13:55] #31 closed

[2016-09-06 13:58] freaktechnik opened #44 "Grow core contributor strengths and be visible in Switzerland"
## Objective:
Grow our core contributor strengths and be amazing at being visible in Switzerland.

## Key Results:
- [ ] We have at least 5 core contributors that are active on Discourse
- [ ] 30% of threads on Discourse are created by non [Community Focus Group](https://wiki.mozilla.org/Switzerland#Focus_Group) members
- [ ] At least 25 GitHub issues are created from a discussion on Discourse wit

[2016-09-06 14:00] freaktechnik opened #45 "Driver in prototyping Firefox for the Future"
## Objective:
Mozilla Switzerland is a driver in prototyping Firefox for the future.

## Key Results:
- [ ] We have started a monthly meetup group around Developer Tools to have hacking evenings, providing guidance to new people to get involved in hacking DevTools
- [ ] We have at least 2 hackathons for 2 different components
- [ ] We have at least 20 confirmed Nightly users who know how to submit

[2016-09-06 14:01] #1 closed

[2016-10-12 16:19] MichaelKohler commented on #35
@freaktechnik I still think this is highly relevant. Let's get in touch with them after we have decided on the next meetup/hackathon and invite them!

[2016-10-26 16:01] freaktechnik opened #46 "Better Twitter curation"
## Goal:

Create a much easier contribution opportunity for content for people that don't have direct access to the Twitter account.
## Success:

We have a stable system to schedule tweets and assign work to multiple persons and produce a consistent flow of content on our Twitter account (@MozillaCH).
## Related Issues & Links:

Initiative for #44
## Roles:

Owner: @freaktechnik
Involved: @Michael

[2016-10-26 16:06] freaktechnik commented on #46
The Trello board linked above is my suggested solution for the problem described in [the discourse thread](http://discourse.mozilla-community.org/t/better-twitter-curation/10721/2).

The "Needs Reaction", "Events" and "Tweeted" columns would be filled automatically and would only require action to finalize content, if it's not in "Tweeted". We could additionally automate actually tweeting from the

[2016-10-26 16:07] freaktechnik commented on #46
On the automation tool: this will probably be a node based tool, which I'll create a repo on here. Not sure yet where it would run, but in case of doubt it would be easy enough to run it on heroku and just make it run once or twice a day.

[2016-10-26 18:33] MichaelKohler commented on #46
I completely love and agree with your general data structure. However, since the GitHub projects API is not preview anymore and can be used (not tested though), maybe we could even use that? https://developer.github.com/v3/repos/projects/

I'm not sure how many people would contribute through trello vs. through GitHub, but since there is a lot of stuff going on nowadays on GitHub, I think we'd be

[2016-10-26 18:36] freaktechnik commented on #46
I would think the potential of people willing to contribute to tweets having github is far greater, since we also have the whole participation planning via github.

[2016-10-26 18:52] freaktechnik commented on #46
Development of the content bridge will happen in https://github.com/mozillach/gh-projects-content-queue
Design decisions about what kind of stuff it should do will happen in there.

[2017-01-05 00:03] MichaelKohler commented on #35
I will do this with an invite to our next meetup.

[2017-01-05 00:03] MichaelKohler commented on #14
Given the discussions about the new mozilla wordmark, I'm putting this to blocked.

[2017-01-30 11:42] MichaelKohler opened #47 "Organize bootcamp/barcamp style conference"
## Goal:
Experiment: Organize Bootcamp/Barcamp style conference (community proposes talks and votes on them to be done at the beginning) with a broader Web topic. If successful this can be done more frequently and maybe even be adapted to fit into an evening, or be expanded to two days.

## Success:
Our hypothesis is that this brings in more interested people than the talks we regularly organize w

[2017-01-30 11:44] MichaelKohler opened #48 "Mozilla generally: more transparent decision process"
## Goal:
We continue to ask Mozilla to make its decision process more transparent, so community members can feel more involved.

This was a major concern during our community meetup. This goal is not fully defined and we will work together to phrase our scope accordingly. Also this goal definition is a “working draft”, therefore not perfectly phrased.

## Roles:
Owner: @gion-andri
Involved: @Micha

[2017-01-30 11:46] MichaelKohler opened #49 "Organize March Talk"
## Goal:
Our March talk is organized.

## Roles:
Owner: @MichaelKohler
Involved: @freaktechnik, @colinfrei

## Required:
- [x] Decide on topic from our backlog and find speaker (@MichaelKohler, Due: 02.03.2016)
- [ ] Decide on date and reserve location (@MichaelKohler, Due: 08.03.2016)

[2017-01-30 11:50] MichaelKohler commented on #35
Will be done for #49

[2017-02-23 00:56] itsN1X commented on #49
Hope to see #35 checkout for me in near future : )

[2017-03-15 00:18] MichaelKohler commented on #35
Unfortunately I still haven't had time to do this. I now have collected all email addresses from mozillians.org, and I've marked spam accounts. I will try to send out the emails tomorrow, but it might be too late for tomorrow's event. However I will include a link to the communication channels and Meetup/Twitter specifically.

[2017-03-15 17:02] MichaelKohler commented on #35
Done

[2017-03-15 17:02] #35 closed

[2017-03-15 17:02] MichaelKohler commented on #48
See also: https://discourse.mozilla-community.org/t/call-for-input-open-letter-to-mozilla-leadership/13390

[2017-03-15 17:03] #49 closed

[2017-03-15 17:05] MichaelKohler opened #50 "Organize Talk/Workshop April"
## Goal:
Our April meetup is organized.

## Related Issues & Links:
https://discourse.mozilla-community.org/t/event-topic-suggestions/9339

## Roles:
Owner: @MichaelKohler
Involved: @freaktechnik

## Required:
- [x] Find a topic to talk about / have a workshop (@MichaelKohler, Due: 25.03.2016)
- [ ] Organize location and promote the event (@MichaelKohler, Due: 30.03.2016)

[2017-03-15 17:07] MichaelKohler commented on #41
Do you still want this to happen? I think we can focus on more important things this semester. We can either close it or move it back to the backlog.

[2017-03-17 21:07] MichaelKohler commented on #50
See https://discourse.mozilla-community.org/t/mozillach-meetup-april/14489

[2017-03-18 02:27] MichaelKohler commented on #47
Project: https://github.com/mozillach/openwebcamp/projects/1?fullscreen=true
Discussion: https://discourse.mozilla-community.org/t/planning-for-barcamp-style-event/14493

[2017-03-18 02:29] #2 closed

[2017-03-18 02:32] MichaelKohler opened #51 "Organize Talk/Workshop May"
## Goal:
Our May meetup is organized.

## Related Issues & Links:
https://discourse.mozilla-community.org/t/event-topic-suggestions/9339

## Roles:
Owner: @MichaelKohler
Involved: @freaktechnik

## Required:
- [ ] Find a topic to talk about / have a workshop (@MichaelKohler, Due: 30.03.2016)
- [ ] Organize location and promote the event (@MichaelKohler, Due: 05.04.2016)

[2017-03-18 02:36] MichaelKohler opened #52 "Organize Followup for WebExtensions"
## Goal:
A followup to the March WebExtension Workshop is organized.

## Related Issues & Links:
https://activate.mozilla.community/webextensions/
https://www.meetup.com/Mozilla-Meetup-Switzerland/events/238221995/

## Roles:
Owner: @MichaelKohler
Involved: @freaktechnik

## Required:
- [x] Decide on format (@MichaelKohler, Due: 10.08.2017)
- [x] Set date (@MichaelKohler, Due: 10.08.2017)
- [x] Or

[2017-05-10 23:10] #50 closed

[2017-05-13 10:02] MichaelKohler commented on #51
https://www.meetup.com/Mozilla-Meetup-Switzerland/events/239152054/

[2017-05-13 10:02] #51 closed

[2017-05-13 10:15] MichaelKohler opened #53 "Organize WebVR Hackathon in July"
## Goal:
WebVR hackathon in Lausanne is organized.

## Related Issues & Links:
https://discourse.mozilla-community.org/t/webvr-workshop-in-lausanne/15500/4

## Roles:
Owner: @MichaelKohler
Involved: @freaktechnik @gperriard @colinfrei @AlexLakatos

## Required:
- [x] Draft of the agenda (@MichaelKohler, Due: 20.05.2016)
- [x] Announce on Meetup Lausanne (@MichaelKohler, Due: 20.05.2016)
- [x] Fina

[2017-05-15 06:46] MichaelKohler commented on #53
Meetup Lausanne event page: https://www.meetup.com/Mozilla-Meetup-Romandie/events/239994710/ (not yet announced)

[2017-05-28 09:35] AVGP commented on #53
Happy to help! I can bring Cardboards and help with workshops or talks.

You mentioned you wanted some intro beyond A-frame and I'm happy to explain the spec or whatever needs explaining =)

[2017-05-31 07:41] gperriard commented on #53
Hello! Good news, Liip is going to sponsor the drinks and croissants. :)

Regarding the agenda, would it be possible to start at 10 instead of 11:30 that would allow us to have some time to welcome people and have more time for hacking.

I would propose the following agenda:
10:00 - 10:30 Welcome
10:30 - 11:00 Intro to WebVR / A-Frame
11:00 - 11:45 Demos with a VR device / Thinking about what you

[2017-05-31 08:52] MichaelKohler commented on #53
This would be great! How many cardboards do you have? I can bring one as well. Maybe we don't even need to buy some in that case.

Yay, thanks!

Do you think people will show up that early on a Saturday? ;) I like the idea of having enough time to hack, as long as we actually have people attending :)

[2017-05-31 09:02] AVGP commented on #53
@MichaelKohler I have at least ten, but I gonna check how much exactly I've got available. Seeing as we limit to 20 people (right?) I can see if I can bring one for all attendees.

[2017-05-31 09:14] MichaelKohler commented on #53
@AVGP I think I'll go for 25 or even 30 (including organizers and speakers/helpers), as I'm pretty sure not everybody will show up. In any case, 10 are enough, people can share :)

[2017-06-05 16:13] gperriard commented on #53
I think 10 is okay. People can still join later if they want to.
Is it an issue for you? Can I update the meetup with the agenda I proposed?
I plan to be at the office around 08h30 to prepare the room.

We could also have a Hololens for demo. Shall I bring it?

[2017-06-05 20:04] MichaelKohler commented on #53
OK, I've changed the agenda and announced it:

https://www.meetup.com/Mozilla-Meetup-Romandie/events/239994710/
https://www.meetup.com/Mozilla-Meetup-Switzerland/events/240560784/

I honestly don't know the status of Hololens and WebVR, maybe @AVGP does. If it works, I'd be definitely happy to have one :)

[2017-06-06 05:34] gperriard commented on #53
Thx @MichaelKohler !
I'll announce it today. I can't wait until this hackday!

Regarding the Hololens, I'll try to bring it. Maybe we will use it maybe not but I think it's always good to have related VR device around so people get a better overview about what's on the market.

[2017-06-06 05:45] gperriard commented on #53
Btw, I also posted the meetup on techup.ch
http://techup.ch/2527/mozilla-webvr-a-frame-hackathon

[2017-06-26 15:42] AVGP commented on #53
I just noticed that I won't be in CH when the hackathon takes place, but I can give the cardboards to someone else and then you'll have 'em at the event. 10 enough, yea?

[2017-06-26 16:00] MichaelKohler commented on #53
Oh no, I would have loved to have you there. However, yeah, 10 are totally fine and we can organize the pickup.

[2017-07-21 09:41] MichaelKohler commented on #53
I think we're ready! Thanks a lot for the help @gperriard!

[2017-07-21 15:57] J0WI commented on #53
There are different timetables on Mozilla Reps/mozilla.ch (starting at 11:30 AM) than on Meetup (starting at 10:00 AM).

[2017-07-21 16:51] MichaelKohler commented on #53
Thanks,corrected :)

[2017-07-21 16:51] #53 closed

[2017-07-22 19:54] gperriard commented on #53
@AVGP, thank you a lot for organising the venue of Ben for the talk on A-Frame in the today Mozilla meetup.
The talk was really well done and inspiring! :)

[2017-07-22 23:38] MichaelKohler commented on #47
As there has nothing been going on here, I'm closing this issue. We can still think about this and create more specific issues if we still want to do it and have time for it.

[2017-07-22 23:38] #47 closed

[2017-07-25 16:14] MichaelKohler commented on #52
Changed the timeline in the description. Soon there will be a small update to the MozActivate campaign activity around WebExtension. We could pilot this change.

[2017-07-31 11:25] MichaelKohler commented on #52
https://reps.mozilla.org/e/webextensions-intro-working-on-existing-ideas/
https://www.meetup.com/Mozilla-Meetup-Switzerland/events/242159872/

All set!

[2017-07-31 11:25] #52 closed

[2017-09-11 16:25] #41 closed

[2017-10-11 12:54] freaktechnik commented on #46
As content queue is ready for general usage, I've started to draft documentation. Instead of making it an article on the wiki, I decided it may be better to put it in a CONTRIBUTING.md in the queue repo. I've created a draft as gist: https://gist.github.com/freaktechnik/aa029f23fc7d711b75792512bdb31588

[2017-10-23 14:11] freaktechnik commented on #46
This is essentially done. All that has to be done is to add some references to this system on the wiki and note this in the discourse thread.

[2017-10-23 20:23] freaktechnik commented on #46
All done!

[2017-10-23 20:23] #46 closed

[2019-03-30 17:32] Mozilla-GitHub-Standards opened #54 "CODE_OF_CONDUCT.md file missing"
As of January 1 2019, Mozilla requires that all GitHub projects include this [CODE_OF_CONDUCT.md](https://github.com/mozilla/repo-templates/blob/master/templates/CODE_OF_CONDUCT.md) file in the project root. The file has two parts:

1. Required Text - All text under the headings *Community Participation Guidelines and How to Report*, are required, and should not be altered.
2. Optional Text - The

[2019-03-30 17:43] #54 closed